@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
@import url("mixins.less");
@import url("magic.min.css");

@font-face {
    font-family: 'VolkswagenCopyRegular';
    src: url('fonts/voc___-webfont.eot');
    src: url('fonts/voc___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/voc___-webfont.woff') format('woff'),
         url('fonts/voc___-webfont.ttf') format('truetype'),
         url('fonts/voc___-webfont.svg#VolkswagenCopyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VolkswagenHeadlineRegular';
    src: url('fonts/voh___-webfont.eot');
    src: url('fonts/voh___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/voh___-webfont.woff') format('woff'),
         url('fonts/voh___-webfont.ttf') format('truetype'),
         url('fonts/voh___-webfont.svg#VolkswagenHeadlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.VWheading(@size: 14px){ font-family: 'VolkswagenHeadlineRegular', 'Open Sans', sans-serif; font-size: @size; }
.VWcopy(@size: 14px){ font-family: 'VolkswagenCopyRegular', 'Open Sans', sans-serif; font-size: @size; }

@blue : #005793;
@grey : #575757;

.blue{ color: @blue; }
.grey{ color: @grey; }

*,*:after,*:before { .box-sizing; }

body{ .VWcopy(13px); padding:0; background:#fff; }

p{ .VWcopy(13px); }

h1,h2,h3,h4,h5,h6{ .VWheading(13px);  font-weight:400; }

a:link, a:visited { color: @linkcol; }

.gmap img{ max-width:none; background:none; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

h1{ font-size:18px; }

img{ max-width:100%; }

a {outline : none;}
a img {outline : none;}

.fl{ float:left; }
.fr{ float:right; }

.faded{ .opacity(0.3); }
.fadeOut{ .opacity(0); visibility:hidden !important; .transition(.5s, ease-out); }
.fadeIn{ .opacity(1); visibility:visible !important; .transition(.5s, ease-out); }
.hide{ .opacity(0); visibility:hidden; }

.action-bar{ background:#ccc; }
.action [class*="icon-"] { color:#666; }
.action-overflow-icon i, .action-overflow-icon i:before, .action-overflow-icon i:after{ background:#666; }

.action-bar h1.title{ .grey; text-transform:uppercase; .impressed; margin:0; font-size:13px; line-height:120%; margin-left: 5px; margin-top: 7px; }
.action-bar h1.title span{ display:block; font-size:28px; .blue; line-height:100%; letter-spacing:5px; font-size:18px; }

.action-bar ul{ margin:0; }

.page{ background:#fff; }

.home.inset{ padding:0; }

.large-section{ position:relative; border-bottom:1px solid #fff; }
.large-section a{ cursor:pointer; text-decoration:none; }
.large-section img{ vertical-align: text-bottom; }
.section-title{ display:block; .grad-lin(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.5)); .white; .VWheading(26px); position:absolute; left:0; bottom:0; padding: 7px 12px; width:100%; text-shadow:1px 1px 2px rgba(0,0,0,0.5); }

.regular-section{ position:relative; width:50%; }

.regular-section a{ cursor:pointer; }
.regular-section img{ vertical-align: text-bottom; }


